.temas {
    display: flex;
    flex-wrap: nowrap; /* Evita que los temas se envuelvan a la siguiente línea */
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal si es necesario */
    border: 1px solid black;
    padding: 10px 0; /* Ajusta el espaciado superior e inferior */
}

.capsula-tema {
    flex: 0 0 auto; /* No permitir que las cápsulas de tema se redimensionen */
    background-color: #f0f0f0; /* Color de fondo de la cápsula */
    border: 1px solid #ccc; /* Borde alrededor de la cápsula */
    padding: 20px; /* Espaciado interno */
    margin-right: 20px; /* Espacio entre cápsulas */
    white-space: nowrap; /* Evita el desbordamiento de contenido dentro de las cápsulas */
    min-width: 200px; /* Ancho mínimo de cada cápsula */
}

.capsula-tema h2 {
    font-size: 1.2em; /* Tamaño del título del tema */
}

.capsula-tema p {
    font-size: 0.9em; /* Tamaño del texto de descripción */
}
